/* Selector Universal */
* {
    padding: 0 auto;
    margin: 0 auto;
}

/* Selector ID*/
#contenedor {
    width: 1200px;
    height: 1000px;
    background-color: bisque;
    max-width: 0 auto;
}
#encabezado {
    height: 15%;
    background-color: antiquewhite;
    margin: 1em auto;
}
#menu {
    height: 5%;
    background-color: pink;
    margin: 1em auto;
}
#seccion {
    width: 61%;
    height: 70%;
    background-color: #efefef;
    margin: 0.5em;
    float: left;
}
#fueraSeccion {
    height: 70%;
    width: 36%;
    background-color: chartreuse;
    margin: 0.5em;
    float: right;
}
#pie {
    height: 5%;
    background-color: darkgray;
    border-radius: 1em;
    margin: 1.5em;
}

/* Selector de Class */
.texto {
    text-align: justify;
    font-family: tahoma;
    font-size: medium;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.encabezado_articulo {
    text-align: center;
    background: #333;
    color: white;
    margin: auto 2em;
}
.imagenes {
    display: block;
    border: 1px solid #ddd;
    margin-left: 4%;
    width: 300px;
}

/* Selector de etiqueta */
ul {
    text-align: center;
}
li {
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
}